In [27]:
# conventional way to import pandas
import pandas as pd
from sklearn.metrics import accuracy_score as acc
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC 

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as acc
from mlxtend.feature_selection import SequentialFeatureSelector as sfs


from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# DF TO EXCEL
from pandas import ExcelWriter
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from pandas import ExcelWriter

In [2]:
# read CSV file from the 'data' subdirectory using a relative path
Dataset= pd.read_csv('C:\\Users\\Admin\\Desktop\\CS3123\\Data_Set\\Dataset.csv')

# display the first 5 rows
Dataset.head()

,0,0.1,1,2,3,4,5,6,7,8,...,436,437,438,439,440,441,442,443,444,445
0,1.204940e+12,1,79,1.0,4597,73.0,164.0,NaN,-1,-1,...,-1.0,-1.0,-1.0,20.0,NaN,1.0,40.0,-1.0,-1.0,-1.0
1,1.407940e+12,2,76,0.0,4595,74.0,172.0,NaN,1,-1,...,-1.0,-1.0,-1.0,20.0,NaN,1.0,55.0,-1.0,-1.0,-1.0
2,2.112950e+12,3,72,1.0,4602,NaN,NaN,NaN,1,1,...,-1.0,-1.0,-1.0,NaN,NaN,1.0,72.0,-1.0,-1.0,-1.0
3,4.129550e+11,4,63,1.0,4600,75.0,168.0,NaN,-1,-1,...,-1.0,-1.0,-1.0,20.0,NaN,1.0,55.0,-1.0,-1.0,-1.0
4,2.307940e+12,5,80,0.0,4679,85.0,187.0,NaN,-1,-1,...,-1.0,-1.0,-1.0,NaN,NaN,1.0,27.0,-1.0,-1.0,-1.0

In [3]:
# Drop index and unnessery featuer 
Dataset.drop(['0', '0.1','3','187'], axis=1,inplace=True)

In [4]:
#Drop all features except (Age - gender -Height -weight)
#subset=Dataset.drop(Dataset.columns.to_series()["6":"445"], axis=1)
subset=Dataset

In [5]:
subset.isna().sum()

1         0
2         1
4       418
5       417
6      2768
7         0
8         0
9       365
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22      266
23      266
24     2370
25     2397
26      755
27      763
28     2758
29      164
30      165
31      274
       ...
415    1978
416    1978
417    1978
418    1978
419    1978
420    1978
421    1978
422    1978
423    1978
424    1978
426    1978
427    1978
428    1978
429    1978
430    1978
431    1978
432    2724
433    1978
434    1978
435    1978
436    1978
437    1978
438    1978
439    2583
440    2771
441    1869
442    1869
443    1869
444    1869
445    1880
Length: 433, dtype: int64

In [6]:

#Missing da

In [7]:
import numpy as np

# Drop sample that has missing value in Gender feater 
H_Data=subset.drop(subset.index[1319])

H_Data.shape

(2771, 433)

In [8]:
#removing outliers
H_Data = H_Data[(H_Data['1']> 0)]
H_Data= H_Data[(H_Data['1']<100)]

In [9]:
H_Data.isna().sum()

1         0
2         0
4       416
5       415
6      2755
7         0
8         0
9       365
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22      266
23      266
24     2358
25     2385
26      752
27      760
28     2745
29      164
30      165
31      274
       ...
415    1968
416    1968
417    1968
418    1968
419    1968
420    1968
421    1968
422    1968
423    1968
424    1968
426    1968
427    1968
428    1968
429    1968
430    1968
431    1968
432    2711
433    1968
434    1968
435    1968
436    1968
437    1968
438    1968
439    2570
440    2758
441    1860
442    1860
443    1860
444    1860
445    1871
Length: 433, dtype: int64

In [10]:
#Removing outliers from Hight
Data = H_Data[(H_Data['5']> 145)]
Data = H_Data[(H_Data['5']<195)]

# Visualizing data using seaborn

**Seaborn:** Python library for statistical data visualization built on top of Matplotlib

In [11]:
Data.isna().sum()

1         0
2         0
4         3
5         0
6      2336
7         0
8         0
9       283
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22      141
23      140
24     1967
25     1983
26      622
27      631
28     2328
29       58
30       59
31      123
       ...
415    1683
416    1683
417    1683
418    1683
419    1683
420    1683
421    1683
422    1683
423    1683
424    1683
426    1683
427    1683
428    1683
429    1683
430    1683
431    1683
432    2297
433    1683
434    1683
435    1683
436    1683
437    1683
438    1683
439    2178
440    2339
441    1570
442    1570
443    1570
444    1570
445    1578
Length: 433, dtype: int64

In [12]:
#Removing outliers from Weight
Data = Data[(Data['4']> 38)]
Data = Data[(Data['4']<250)]

In [13]:
Data.isna().sum()

1         0
2         0
4         0
5         0
6      2332
7         0
8         0
9       282
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22      141
23      140
24     1963
25     1979
26      620
27      630
28     2322
29       58
30       59
31      123
       ...
415    1679
416    1679
417    1679
418    1679
419    1679
420    1679
421    1679
422    1679
423    1679
424    1679
426    1679
427    1679
428    1679
429    1679
430    1679
431    1679
432    2292
433    1679
434    1679
435    1679
436    1679
437    1679
438    1679
439    2173
440    2333
441    1566
442    1566
443    1566
444    1566
445    1574
Length: 433, dtype: int64

In [14]:
Data_BN=Data.dropna(axis='columns')

In [15]:
Data_BN.isna().sum()

1     0
2     0
4     0
5     0
7     0
8     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
32    0
33    0
34    0
35    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
60    0
61    0
62    0
63    0
65    0
66    0
67    0
68    0
69    0
70    0
72    0
73    0
74    0
75    0
76    0
77    0
dtype: int64

In [16]:
# Female subset
F_Data=Data_BN[Data_BN['2'] == 0.0]
#Male subset
M_Data=Data_BN[Data_BN['2'] == 1.0]

In [17]:
F_Data.shape

(1391, 59)

In [18]:
M_Data.shape

(943, 59)

In [19]:
BF_Data=F_Data.sample(943, random_state=0)

In [20]:
frames = [M_Data, BF_Data]

In [21]:
MF_Data = pd.concat(frames)

In [22]:
MF_Data.shape

(1886, 59)

In [23]:
# select a Series from the DataFrame
y = MF_Data['2']
TT=MF_Data.drop(['2'],axis=1)
X=TT[:]
# print the first 5 values
y.shape

(1886,)

# Splitting Data

In [24]:
X_train, X_test, y_train, y_test = train_test_split( X,y,test_size=0.25,random_state=42)

y_train = y_train.ravel()
y_test = y_test.ravel()

print('Training dataset shape:', X_train.shape, y_train.shape)
print('Testing dataset shape:', X_test.shape, y_test.shape)

Training dataset shape: (1414, 58) (1414,)
Testing dataset shape: (472, 58) (472,)

# #  Feature selection_ with 5-fold CV SVM

In [29]:
### Build SVM classifier to use in feature selection
SVM_F =  SVC(kernel='linear') 
# Build step forward feature selection
sfs_SVMF = sfs(SVM_F,
           k_features=28,
           forward=True,
           floating=False,
           verbose=2,
           scoring='accuracy',
           cv=5)

# Perform SFFS
sfs_SVMF = sfs_SVMF.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  58 out of  58 | elapsed:    5.8s finished

[2018-11-21 21:26:20] Features: 1/28 -- score: 0.7970252863193243[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  57 out of  57 | elapsed:   37.9s finished

[2018-11-21 21:26:58] Features: 2/28 -- score: 0.803385710347593[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  56 out of  56 | elapsed:   37.8s finished

[2018-11-21 21:27:36] Features: 3/28 -- score: 0.805513369922061[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  55 out of  55 | elapsed:   38.3s finished

[2018-11-21 21:28:14] Features: 4/28 -- score: 0.8069368217928478[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:   40.4s finished

[2018-11-21 21:28:55] Features: 5/28 -- score: 0.8083502493546852[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  53 out of  53 | elapsed:   38.8s finished

[2018-11-21 21:29:34] Features: 6/28 -- score: 0.8083502493546852[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  52 out of  52 | elapsed:   38.3s finished

[2018-11-21 21:30:12] Features: 7/28 -- score: 0.8083502493546852[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  51 out of  51 | elapsed:   38.3s finished

[2018-11-21 21:30:51] Features: 8/28 -- score: 0.8076435355737666[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:   38.3s finished

[2018-11-21 21:31:29] Features: 9/28 -- score: 0.8069343157156105[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  49 out of  49 | elapsed:   38.8s finished

[2018-11-21 21:32:08] Features: 10/28 -- score: 0.8069343157156105[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:   39.1s finished

[2018-11-21 21:32:47] Features: 11/28 -- score: 0.8076360173420545[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  47 out of  47 | elapsed:   39.2s finished

[2018-11-21 21:33:26] Features: 12/28 -- score: 0.8104653785429667[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  46 out of  46 | elapsed:   40.9s finished

[2018-11-21 21:34:07] Features: 13/28 -- score: 0.8111720923238854[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:   38.1s finished

[2018-11-21 21:34:46] Features: 14/28 -- score: 0.8111745984011229[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  44 out of  44 | elapsed:   37.6s finished

[2018-11-21 21:35:23] Features: 15/28 -- score: 0.8111745984011229[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  43 out of  43 | elapsed:   38.5s finished

[2018-11-21 21:36:02] Features: 16/28 -- score: 0.8111720923238854[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  42 out of  42 | elapsed:   37.2s finished

[2018-11-21 21:36:39] Features: 17/28 -- score: 0.8111720923238854[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  41 out of  41 | elapsed:   37.0s finished

[2018-11-21 21:37:16] Features: 18/28 -- score: 0.8111720923238854[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:   37.3s finished

[2018-11-21 21:37:54] Features: 19/28 -- score: 0.8111720923238854[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  39 out of  39 | elapsed:   35.1s finished

[2018-11-21 21:38:29] Features: 20/28 -- score: 0.8104653785429667[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  38 out of  38 | elapsed:   35.4s finished

[2018-11-21 21:39:04] Features: 21/28 -- score: 0.8104628724657295[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:   35.0s finished

[2018-11-21 21:39:40] Features: 22/28 -- score: 0.8090519509811293[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  36 out of  36 | elapsed:   36.1s finished

[2018-11-21 21:40:16] Features: 23/28 -- score: 0.8090519509811293[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:   36.0s finished

[2018-11-21 21:40:52] Features: 24/28 -- score: 0.8083452372002105[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  34 out of  34 | elapsed:   34.4s finished

[2018-11-21 21:41:26] Features: 25/28 -- score: 0.8069293035611358[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  33 out of  33 | elapsed:   33.9s finished

[2018-11-21 21:42:00] Features: 26/28 -- score: 0.8069293035611358[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  32 out of  32 | elapsed:   33.4s finished

[2018-11-21 21:42:34] Features: 27/28 -- score: 0.8076360173420545[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  31 out of  31 | elapsed:   34.4s finished

[2018-11-21 21:43:08] Features: 28/28 -- score: 0.8076360173420545

In [30]:
# Which features?
feat_cols = list(sfs_LR.k_feature_idx_)
print(feat_cols)

NameError: name 'sfs_LR' is not defined

# Build ML model with best K Features

# Logistic Regression

In [ ]:
# Build full model with selected features
clf =LogisticRegression()
clf.fit(X_train.iloc[:, feat_cols], y_train)

y_train_pred = clf.predict(X_train.iloc[:, feat_cols])
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = clf.predict(X_test.iloc[:, feat_cols])
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

In [ ]:
# Build full model with all features
clf =LogisticRegression()
clf.fit(X_train, y_train)

y_train_pred = clf.predict(X_train)
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = clf.predict(X_test)
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

#  Decision Tree  with  28 FS

In [ ]:
#10-fold cross-validation with Decision Tree
DT = DecisionTreeClassifier()
DT.fit(X_train.iloc[:, feat_cols], y_train)

y_train_pred = DT.predict(X_train.iloc[:, feat_cols])
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = DT.predict(X_test.iloc[:, feat_cols])
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

In [ ]:
# Build full model with all features
DT = DecisionTreeClassifier()
DT.fit(X_train, y_train)

y_train_pred = DT.predict(X_train)
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = DT.predict(X_test)
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

# SVM with 28 FS

In [ ]:
from sklearn.svm import SVC 

# Build full model with selected features

SVM= SVC(kernel='linear') 
SVM.fit(X_train.iloc[:, feat_cols], y_train)

y_train_pred = SVM.predict(X_train.iloc[:, feat_cols])
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = SVM.predict(X_test.iloc[:, feat_cols])
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

In [ ]:
# Build full model on ALL features, for comparison
SVM= SVC(kernel='linear') 
SVM.fit(X_train, y_train)

y_train_pred = SVM.predict(X_train)
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = SVM.predict(X_test)
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

# Random Forest

In [ ]:

RF_C = RandomForestClassifier(n_estimators=100, n_jobs=-1)
RF_C.fit(X_train.iloc[:, feat_cols], y_train)

y_train_pred = RF_C.predict(X_train.iloc[:, feat_cols])
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = RF_C.predict(X_test.iloc[:, feat_cols])
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))

In [ ]:
RF_C = RandomForestClassifier(n_estimators=100, n_jobs=-1)
RF_C.fit(X_train, y_train)

y_train_pred = RF_C.predict(X_train)
print('Training accuracy on selected features: %.3f' % acc(y_train, y_train_pred))

y_test_pred = RF_C.predict(X_test)
print('Testing accuracy on selected features: %.3f' % acc(y_test, y_test_pred))